<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>动态组件</title>
    <script src="./vue.js"></script>
  </head>
  <body>
    <div id="app">
      <button v-for="itme in psot" :key="itme.id" @click="page=itme.cmp">
        {{ itme.name }}
      </button>
      <keep-alive>
        <component :is="page"></component>
      </keep-alive>
    </div>

    <script>
      Vue.component("cm-a", {
        data() {
          return {
            page:undefined,
            posts: [
              {
                title: "标题1",
                content: { template: `<div>内容1</div>` },
                id: 11,
              },
              {
                title: "标题2",
                content: { template: `<div>内容2</div>` },
                id: 12,
              },
              {
                title: "标题3",
                content: { template: `<div>内容3</div>` },
                id: 13,
              },
            ],
          };
        },
        template: `
        <div>
            <button v-for="itme in posts" :key="itme.id" @click="page = itme.content">
                {{ itme.title }}
            </button>
            <keep-alive>
                <component :is="page"></component> 
            </keep-alive>
            
        </div>
            `,
        mounted() {
            this.page = this.posts[0].content
        },
      });

      Vue.component("cm-b", {
        template: `
            <div>b</div>
            `,
      });
      const vm = new Vue({
        el: "#app",
        data: {
          psot: [
            { name: "博客", cmp: "cm-a", id: 0 },
            { name: "更多", cmp: "cm-b", id: 1 },
          ],
          page: "cm-a",
        },
      });
    </script>
  </body>
</html>
