<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <script src="./vue.js"></script>
    <script src="./axios.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="username">
        <input type="text" placeholder="用户名" v-model="name" />
      </div>
      <div class="mail">
        <input type="text" placeholder="邮箱" v-model="mail" />
      </div>

      <div class="upload-btn" @click="handleUpload">上传</div>
      <div class="show-btn" @click="handleShow">显示人物信息</div>
      <ul class="person-list" v-if="personList.length">
        <li class="person" v-for="itme in personList">
          <span>{{ itme.name }}</span>
          <span>{{ itme.mail }}</span>
        </li>
      </ul>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          name: "",
          mail: "",
          msg: "",
          personList: [],
        },
        methods: {
          handleUpload() {
            const { name, mail } = this;
              if(!name || !mail){
                  alert('请输入姓名和邮箱')
                  return 
              }           
            axios
              .post("https://developer.duyiedu.com/vue/setUserInfo", {
                name,
                mail,
              })
              .then((resp) => {
                this.msg = resp.data.msg;
              });
          },
          handleShow() {
            axios
              .get("https://developer.duyiedu.com/vue/getUserInfo")
              .then((resp) => {
                 resp.data.data.length = 5
                 this.personList = resp.data.data;
              });
          },
        },
        watch: {
          msg() {
            if (this.msg === "") {
              return;
            }
            alert(this.msg);
            this.msg = "";
            this.name='',
            this.mail=''
          },
        },
      });
    </script>
  </body>
</html>
