<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>监听组件事件</title>
    <script src="./vue.js"></script>
  </head>
  <body>
    <!-- 示例1 -->
    <!-- <div id="app">
      <div :style="{fontSize: postFontSize + 'em'}">
        <blog-post 
        :itme="itme" 
        v-for="itme in posts" 
        :key="itme.id"
        @cont="postFontSize+=$event" 
        ></blog-post>
      </div>
    </div>

    <script>
      Vue.component("blog-post", {
        props:{
          itme:{
            type:Object
          }
        },
        template: `
          <div>
            <div>{{ itme.title }}</div>
            <div>{{ itme.content }}</div>
            <button @click="$emit('cont',0.2)">字体放大</button>
          </div>
        `,
        mounted() {
        
        },
      });
      const vm = new Vue({
        el: "#app",
        data: {
          posts: [
            { title: "标题1", content: "正文内容", id: 0 },
            { title: "标题2", content: "正文内容", id: 1 },
            { title: "标题3", content: "正文内容", id: 2 },
          ],
          postFontSize: 1
        },
      });
    </script> -->







    <!-- 示例2 -->
    <!-- <div id="app">
      <input-bgl @focus="onfuc" @blur="onbul"></input-bgl>
    </div>
    <script>
      Vue.component('input-bgl',{
        template:`
        <label>
          姓名：<input type="text" v-on="$listeners"/>
         </label>
        `,
        mounted() {
          console.log(this.$listeners)
        },
      })

      const vm = new Vue({
        el:'#app',
        data:{

        },
        methods: {
          onfuc(){
            console.log('onfuc')
          },
          onbul(){
            console.log('bul')
          }
        },
      })
    </script> -->





    <!-- 示例3 -->
    <div id="app">
      <input-text v-model="name"></input-text>
    </div>

    <script>
      Vue.component('input-text',{
        props:['value'],
        template:`
        <input tepy="text" :value="value" @input="$emit('input',$event.target.value)">
        `
      })
      const vm =new Vue({
        el:'#app',
        data:{
          name:'shangshang'
        }
      })
    </script>
  </body>
</html>
