<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>监听组件事件</title>
    <script src="./vue.js"></script>
  </head>
  <body>
    <!-- 示例1 -->
    <!-- <div id="app">
      <div :style="{fontSize:postFontSize + 'em'}">
        <blog-post
          v-for="post in posts"
          :key="post.id"
          :post="post"
          @enlarge-text="postFontSize += $event"
        ></blog-post>
      </div>
    </div>
    <script>
      Vue.component("blog-post", {
        props: {
          post: {
            type: Object,
          },
        },
        template: `
            <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <button @click="$emit('enlarge-text',0.2)">放大字号</button>
      <div>{{ post.content }}</div>
    </div>
            `,
      });

      const vm = new Vue({
        el: "#app",
        data: {
          posts: [
            { title: "标题1", content: "正文内容", id: 0 },
            { title: "标题2", content: "正文内容", id: 1 },
            { title: "标题3", content: "正文内容", id: 2 },
          ],
          postFontSize: 1,
        },
      });
    </script> -->










    <!-- 示例2 -->
    <!-- <div id="app">
        <base-input @focus="onFocus" @blur="onBlur"></base-input>

        <base-input v-model="name"></base-input>

        <base-box v-model="checked"></base-box>
    </div> -->
    <!-- <script>
      Vue.component("base-box", {
        // template:`
        // <label>
        // 姓名<input type="text" v-on="$listeners"/>
        // </label>
        // `,
        // mounted() {
        //     console.log(this.$listeners)
        // },


        // props:{
        //     value:String
        // },
        // template:`
        // <input tepy="text" :value="value" @input="$emit('input',$event.target.value)">
        // `


        model:{
            prop:'checked',
            event:'change'
        },
        props:{
            checked:Boolean
        },
        template:`
        <input type="checkbox" :checked="checked" @change="$emit('change',$event.target.checked)"/>
        `
      });

      const vm = new Vue({
        el: "#app",
        data: {
          name: "lipan",
          checked:true
        },
        methods: {
          onFocus() {
            console.log("focus");
          },
          onBlur() {
            console.log("Blur");
          },
        },
      });
    </script> -->





    <!-- 示例3 -->
    <div id="app">
        <base-input v-model="name"></base-input>
    </div>

    <script>
        Vue.component('base-input',{
            props:['value'],
            template:`
            <input type="text" :value="value" @input="$emit('input',$event.target.value)">
            `
        })

        const vm = new Vue({
            el:'#app',
            data:{
                name:'duyi'
            }
        })
    </script>
  </body>
</html>
