<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div id="app">
        <!-- 筛选部分 -->
        <div class="goods" v-for="(itme,itmeIndex) in goodsList" :key="itme.id">
            <div class="title">{{ itme.title }}</div>
            <ul class="type-list">
                <li class="type" 
                :class="{active : typeIndex===itme.index}" 
                v-for="(type,typeIndex) in itme.typeList" 
                :key="type"
                @click="tj(type,typeIndex,itme,itmeIndex)"
                >
                    {{ type }}
                </li>
            </ul>
        </div>




                <!-- 选中部分 -->
        <div class="choose-type">
            <div>已选条件:</div>
            <span  v-if="!boo">没有筛选条件</span>
            <ul class="filter-list">
                <li v-for="(type,typein) in list">
                    {{ type }}
                    <span class="delete-goods" @click="de(typein)">x</span>
                </li>
            </ul>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el:'#app',
            data:{
                goodsList: [
                    {
                        title: '上装',
                        typeList: ['全部', '针织衫', '毛呢外套', 'T恤', '羽绒服', '棉衣', '卫衣', '风衣' ],
                        id: 1,
                    },
                    {
                        title: '裤装',
                        typeList: ['全部', '牛仔裤', '小脚/铅笔裤', '休闲裤' ,'打底裤', '哈伦裤'],
                        id: 2,
                    },
                    {
                        title: '裙装',
                        typeList: ['全部', '连衣裙', '半身裙', '长袖连衣裙', '中长款连衣裙'],
                        id: 3,
                    }
                ],
                list:{},
                boo:false
            },
            methods: {
                tj(type,typeIndex,itme,itmeIndex){
                    if(type==='全部'){
                        return
                    }
                    console.log(type,typeIndex,itme,itmeIndex);
                    itme.index = typeIndex
                    vm.$set(this.list,itmeIndex,type)
                },
                de(typein){
                    vm.$delete(this.list,typein)
                    this.goodsList[typein].index=0;
                    this.chang()
                },
                chang(){
                    const obj = JSON.stringify(this.list);
                    
                }
            },
        })
        vm.goodsList.forEach(time => {
            vm.$set(time,'index',0)
        });
    </script>
</body>
</html>