<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="app">
        <!-- 头部 -->
        <div class="header">
            <div class="container">
                <div class="logo">toDoList</div>
                <div class="input-area">
                    <input type="text" @input="shuru" :value="sj">
                    <button @click="tianjia">添加</button>
                </div>
            </div>
        </div>


        <!-- 进行中 -->
        <div class="container">
            <h2>
                <span>正在进行</span>
                <span class="mask-num">{{ mas.length }}</span>
            </h2>
            <ul class="mask-list">
                <li v-for="(mask,index) in mas" :key="mask.id">
                    <div>
                        <input type="checkbox" @click="yd(index,'jx')">
                        <span>{{ mask.title }}</span>
                    </div>
                    <button @click="del(index,'jx')">删除</button>
                </li>
            </ul>
        </div>


        <!-- 已完成 -->
        <div class="container">
            <h2>
                <span>已经完成</span>
                <span class="mask-num">{{ moo.length }}</span>
            </h2>
            <ul class="mask-list">
                <li v-for="(maskin,index) in moo" :key="maskin.id">
                    <div>
                        <input type="checkbox" @click="yd(index,'wc')">
                        <span>{{ maskin.title }}</span>
                    </div>
                    <button @click="del(index,'wc')">删除</button>
                </li>
            </ul>
        </div>
    </div>


    <script>
        const vm = new Vue({
            el:'#app',
            data:{
                sj:'',
                mas:[],
                moo:[]
            },
            methods: {
                shuru(e){
                    this.sj = e.target.value; 
                },
                tianjia(){
                    if(this.sj===''){return}
                    this.mas.push({
                        title:this.sj,
                        id:Math.random()
                    })
                    this.sj=''
                },
                yd(index,type){
                    if(type==='jx'){
                        const jx = this.mas.splice(index,1)
                        this.moo.push(...jx)
                    }else{
                        const wc = this.moo.splice(index,1)
                        this.mas.push(...wc) 
                    }
                },
                del(index,type){
                    const aaa= type === 'wc'? this.moo:this.mas
                    aaa.splice(index,1)
                }
            },
        })
    </script>
</body>
</html>